@model IEnumerable<WebTest.Data.Devices.DeviceEntity>

@{
    ViewData["Title"] = "My devices";
}
<div class="container text-center">
    <div class="row mb-5 justify-content-center">
        <div class="col-3">
            <h1>My Devices</h1>
        </div>
        <div class="col-7"></div>
        <div class="col-2 mt-2">
            <p>
                <a asp-action="Create"><button class="btn btn-primary">Create new</button></a>
            </p>
        </div>
    </div>
    <table class="table my-5">
        <thead>
            <tr>
                <th>
                    <span id="OpenSearch-Name" style="cursor: pointer;">Name <span class="bi bi-search"></span></span>
                    <div id="SearchDiv-Name" style="position: absolute; width: 170px; display: none; z-index: 2;">
                        <input type="text" class="form-control border-info" />
                    </div>
                </th>
                <th>
                    Pairing Date
                </th>
                <th>
                    Connect
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="SearchDisplay-Name" string="@item.Name">@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.PairingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Connect)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<script src="~/js/search.js"></script>