@model IEnumerable<WebTest.Data.Tests.TestEntity>

@{
    ViewData["Title"] = "My Tests";
}

<div class="container text-center">
    <h1>My Tests</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SafeRange)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValueTemplate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyMeasure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SafeRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueTemplate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <p>
        <a asp-action="Create"><button class="btn btn-primary">Create new</button></a>
    </p>
</div>
