@model IEnumerable<WebTest.Data.Tests.TestEntity>

@{
    ViewData["Title"] = "My Tests";
}

<div class="container text-center">
    <div class="row mb-5 justify-content-center">
        <div class="col-3">
            <h1>My Tests</h1>
        </div>
        <div class="col-2 mt-2">
            <p>
                <a asp-action="Create"><button class="btn btn-primary">Create new</button></a>
            </p>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
                <th>
                    Test type
                </th>
                <th>
                    Body Measure
                </th>
                <th>
                    Value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="TestTypeDisplay">@Html.DisplayFor(modelItem => item.TestType)</td>
                <td>
                        <span class="BodyMeasureList">
                        @Html.DisplayFor(modelItem => item.BodyMeasure)
                    </span>
                </td>
                <td class="ValueDisplay">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>


<script src="~/js/tests.js"></script>