@using WebTest.Data.Tests;
@using WebTest.Models.Tests;
@model List<TestsIndexVM>
@{
    ViewData["Title"] = "My Tests";
}

<div class="text-center">
    <h1 class="display-4"><b>My Tests</b></h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Test Date</th>
                    <th>Description</th>
                    <th>SafeRange</th>
                    <th>Unit</th>
                    <th>Value Template</th>
                    <th>Test Type</th>
                    <th>BodyMeasure</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Test.Name</td>
                        <td>@item.Test.Date</td>
                        <td>@item.Test.Description</td>
                        <td>@item.Test.SafeRange</td>
                        <td>@item.Test.Unit</td>
                        <td>@item.Test.Value</td>
                        <td>@item.Test.TestType</td>
                        <td>@item.Test.BodyMeasure</td>
                        <td>@item.Test.Value</td>
                        <td>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#editRecordModal">Edit</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteRecordModal">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addRecordModal">Add Record</button>
        </p>
    </div>
</div>
